/**
 * @file
 * Defines default strategy parameter values for the given timeframe.
 */

// Defines indicator's parameter values for the given pair symbol and timeframe.
struct Indi_TDI_Params_{{ Timeframe }} : TDIIndiParams {
  Indi_TDI_Params_{{ Timeframe }}() : TDIIndiParams(indi_tdi_defaults, PERIOD_{{ Timeframe }}) {
    shift = {{ TDI_Indi_TDI_Shift | default(0) }};
  }
} indi_tdi_{{ Timeframe | lower }};

// Defines strategy's parameter values for the given pair symbol and timeframe.
struct Stg_TDI_Params_{{ Timeframe }} : StgParams {
  // Struct constructor.
  Stg_TDI_Params_{{ Timeframe }}() : StgParams(stg_tdi_defaults) {
    lot_size = {{ TDI_LotSize | default(0) }};
    signal_open_method = {{ TDI_SignalOpenMethod | default(0) }};
    signal_open_filter_method = {{ TDI_SignalOpenFilterMethod | default(1) }};
    signal_open_level = (float){{ TDI_SignalOpenLevel | default(0) }};
    signal_open_boost = {{ TDI_SignalOpenBoostMethod | default(0) }};
    signal_close_method = {{ TDI_SignalCloseMethod | default(0) }};
    signal_close_level = (float){{ TDI_SignalCloseLevel | default(0) }};
    price_stop_method = {{ TDI_PriceStopMethod | default(0) }};
    price_stop_level = (float){{ TDI_SignalCloseLevel | default(1) }};
    tick_filter_method = {{ TDI_TickFilterMethod  | default(1) }};
    max_spread = {{ TDI_MaxSpread | default(0) }};
  }
} stg_tdi_{{ Timeframe | lower }};
